/******************************************************************************\
|                                                                              |
|                                 _buttons.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the visual styling rules used in this application.       |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2023, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

@use "../colors/colors";

//
// colors
//

$btn-color: colors.$light-grey;
$btn-selected-color: var(--primary-color);
$btn-primary-color: var(--primary-color);

//
// styles
//

.btn, .btn:focus {
	outline: none !important;
	background: $btn-color;
	border: none;

	i {
		margin-right: 5px;
	}

	&:hover, &:active {
		background: darken($btn-color, 10%);
		border-color: darken($btn-color, 10%);
	}

	&.selected {
		color: white;
		background: var(--primary-color);
	}
}

.btn-primary, .btn-primary:focus {
	background: $btn-primary-color;
	border-color: $btn-primary-color;

	&:hover, &:active {
		background: colors.darken($btn-primary-color, 10%);
		border-color: colors.darken($btn-primary-color, 10%);
	}
}

//
// small buttons
//

.btn.btn-sm {
	width: 25px;
	padding: 0;

	i {
		margin-right: 0;
	}
}